.slide-container {
  position: relative;
  height: 100%;
}
.main-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commercial-slider {
  width: 400px;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .commercial-slider {
    width: 250px;
    height: 400px;
  }
}

.commercial-single-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.commercial-estate-details {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
